/* line 1, ../sass/assets/_dashicons-color.scss */
.dashicons-color-bag:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-bag.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 10, ../sass/assets/_dashicons-color.scss */
.dashicons-color-bell:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-bell.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 19, ../sass/assets/_dashicons-color.scss */
.dashicons-color-bookmark:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-bookmark.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 28, ../sass/assets/_dashicons-color.scss */
.dashicons-color-bow-arrow:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-bow-arrow.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 37, ../sass/assets/_dashicons-color.scss */
.dashicons-color-burger:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-burger.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 46, ../sass/assets/_dashicons-color.scss */
.dashicons-color-button:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-button.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 55, ../sass/assets/_dashicons-color.scss */
.dashicons-color-cake:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-cake.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 64, ../sass/assets/_dashicons-color.scss */
.dashicons-color-calculator:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-calculator.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 73, ../sass/assets/_dashicons-color.scss */
.dashicons-color-camera:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-camera.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 82, ../sass/assets/_dashicons-color.scss */
.dashicons-color-car:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-car.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 91, ../sass/assets/_dashicons-color.scss */
.dashicons-color-clock:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-clock.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 100, ../sass/assets/_dashicons-color.scss */
.dashicons-color-coffee:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-coffee.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 109, ../sass/assets/_dashicons-color.scss */
.dashicons-color-coin:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-coin.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 118, ../sass/assets/_dashicons-color.scss */
.dashicons-color-compass:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-compass.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 127, ../sass/assets/_dashicons-color.scss */
.dashicons-color-couch:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-couch.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 136, ../sass/assets/_dashicons-color.scss */
.dashicons-color-cube:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-cube.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 145, ../sass/assets/_dashicons-color.scss */
.dashicons-color-eye:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-eye.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 154, ../sass/assets/_dashicons-color.scss */
.dashicons-color-fire:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-fire.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 163, ../sass/assets/_dashicons-color.scss */
.dashicons-color-firecracker:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-firecracker.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 172, ../sass/assets/_dashicons-color.scss */
.dashicons-color-flower-pot:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-flower-pot.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 181, ../sass/assets/_dashicons-color.scss */
.dashicons-color-game-boy:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-game-boy.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 190, ../sass/assets/_dashicons-color.scss */
.dashicons-color-game-controller:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-game-controller.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 199, ../sass/assets/_dashicons-color.scss */
.dashicons-color-globe:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-globe.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 208, ../sass/assets/_dashicons-color.scss */
.dashicons-color-guard:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-guard.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 217, ../sass/assets/_dashicons-color.scss */
.dashicons-color-health:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-health.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 226, ../sass/assets/_dashicons-color.scss */
.dashicons-color-lightbulb:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-lightbulb.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 235, ../sass/assets/_dashicons-color.scss */
.dashicons-color-magnetize:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-magnetize.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 244, ../sass/assets/_dashicons-color.scss */
.dashicons-color-map:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-map.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 253, ../sass/assets/_dashicons-color.scss */
.dashicons-color-mouse:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-mouse.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 262, ../sass/assets/_dashicons-color.scss */
.dashicons-color-mustache:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-mustache.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 271, ../sass/assets/_dashicons-color.scss */
.dashicons-color-paddle:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-paddle.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 280, ../sass/assets/_dashicons-color.scss */
.dashicons-color-paint-roller:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-paint-roller.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 289, ../sass/assets/_dashicons-color.scss */
.dashicons-color-pie:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-pie.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 298, ../sass/assets/_dashicons-color.scss */
.dashicons-color-play:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-play.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 307, ../sass/assets/_dashicons-color.scss */
.dashicons-color-ring:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-ring.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 316, ../sass/assets/_dashicons-color.scss */
.dashicons-color-science:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-science.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 325, ../sass/assets/_dashicons-color.scss */
.dashicons-color-scissors:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-scissors.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 334, ../sass/assets/_dashicons-color.scss */
.dashicons-color-settings:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-settings.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 343, ../sass/assets/_dashicons-color.scss */
.dashicons-color-shake:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-shake.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 352, ../sass/assets/_dashicons-color.scss */
.dashicons-color-smileyface:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-smileyface.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 361, ../sass/assets/_dashicons-color.scss */
.dashicons-color-thermometer:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-thermometer.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 370, ../sass/assets/_dashicons-color.scss */
.dashicons-color-toilet-paper:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-toilet-paper.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 379, ../sass/assets/_dashicons-color.scss */
.dashicons-color-vinyl:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-vinyl.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 388, ../sass/assets/_dashicons-color.scss */
.dashicons-color-wallet:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-wallet.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 397, ../sass/assets/_dashicons-color.scss */
.dashicons-color-watermelon:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-watermelon.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 406, ../sass/assets/_dashicons-color.scss */
.dashicons-color-wrenches:before {
  content: "";
  background: url(../images/dashicons-color/dashicon-color-wrenches.png);
  background-repeat: no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 6px; }

/* line 5, ../sass/admin.scss */
.container {
  overflow: auto; }
  /* line 7, ../sass/admin.scss */
  .container .half {
    width: 50%; }
  /* line 10, ../sass/admin.scss */
  .container .left {
    float: left; }
  /* line 13, ../sass/admin.scss */
  .container .right {
    float: right; }
  /* line 16, ../sass/admin.scss */
  .container .full-width {
    width: 100%; }
  /* line 19, ../sass/admin.scss */
  .container .clear {
    clear: both; }
  /* line 23, ../sass/admin.scss */
  .container .two-thirds {
    width: 66%; }
  /* line 27, ../sass/admin.scss */
  .container .one-third {
    width: 33%; }

/* line 33, ../sass/admin.scss */
.remove .paddings {
  padding: 0; }
/* line 37, ../sass/admin.scss */
.remove .margins {
  margin: 0 !important; }

/* line 42, ../sass/admin.scss */
.margin-right {
  margin-right: 20px; }

/* line 47, ../sass/admin.scss */
.toplevel_page_phimind .wp-submenu {
  margin: auto !important; }
