$assets-layout: vertical ;
$assets-sprite: sprite-map("assets/*.png") ;
@import "assets/dashicons-color";

.container{
	overflow:auto;
	.half{
		width:50%;
	}
	.left{
		float:left;
	}
	.right{
		float:right
	}
	.full-width{
		width:100%;
	}
	.clear{
		clear:both;
	}

	.two-thirds{
		width:66%;
	}

	.one-third{
		width:33%;
	}
}

.remove{
	.paddings{
		padding:0;
	}

	.margins{
		margin:0 !important; 
	}
}

.margin-right{
	margin-right:20px;
}

//Overide
.toplevel_page_phimind .wp-submenu{
	margin: auto !important;
}