.projects{
	display:none;
}
.project-card{
	margin-right:px !important;
	margin-bottom:20px;
	background-color:white;
	@include single-box-shadow;
	




	.description{
		padding:20px;

		h2{
			margin-top:0px;
			margin-bottom:10px;
			padding:0;
		}

		.author-name{

		}

		p{

		}

		meter{

		}
	}
}