.projects{
	display:none;
}
.project-card{
	margin-right:px !important;
	margin-bottom:20px;
	background-color:white;
	@include single-box-shadow;
	img{
		min-width:100%;
		max-width:100%;
		height:auto;
		max-height:350px;
		overflow:hidden;
	}

	.description{
		padding:20px;



		h2{
			margin-top:0px;
			margin-bottom:10px;
			padding:0;
			a{
				@extend .fonts.trade.gothic.light;
				//font-size:1.176470588em;
				color: $scorpion;
				text-transform: none;
			}
		}

		.author-name{

		}

		p{

		}
		.goal-amount{
			float:right;
		}

		a.donate{
			@extend .clearfix;
			width:100%;
		}
		
		.social{
			overflow:auto;
			display:table;
			width:100%;
			padding-top:10px;
			.share{
				display:table-cell;
				vertical-align: middle;
			}
			ul{
				display:inline-block;
				text-align:right;
				float:right;
				li{

				}
			}
		}
	}
}