$mercury      : #e8e8e8;
$alto         : #dadada;
$scorpion     : #5b5b5b;

// Color Swatches
$apple        : #6ca348;
$thatch-green : #375b20;

$eastern-blue : #1d89bb;
$chathams-blue: #115883;

$tango        : #ec6f17;
$fiery-orange : #b75716;


