@import 'colors';


html{
	//This is where we put the floats
	
	body{
		background: image-url("background.png");
		font-size:17px;
		//@extend .fonts.trade.condensed.regular;
		@extend .fonts.trade.condensed.regular;
	}
	/**
	* Header Styles
	*/
	h1{
		@extend .fonts.trade.gothic.light;
		font-size:2.882352941em;
		color: $eastern-blue;
	}
	h2{
		@extend .fonts.trade.gothic.light;
		font-size:1.470588235em;
		color: $scorpion;
	}
	h3{
		@extend .fonts.trade.condensed.regular;
		font-size:1.176470588em;
		color: $scorpion;
	}
	h4{
	
	}
	h5{

	}
	h6{

	}

	/**
	 * Paragraph Styles
	 */
	p{
		@extend .fonts.trade.condensed.regular;
		font-size:1em;
		color:$scorpion;
	}

	/**
	 * Preformatted
	 */
	pre{

	}

	/**
	 * Blockquote
	 */
	blockquote{

	}
	
	/**
	 * Lists
	 */
	ol{
		@extend .fonts.trade.condensed.regular;
		font-size:1em;
		color: $scorpion;
		li{
			//list-style-position: inside;
		}
	}
	
	ul{
		@extend .fonts.trade.condensed.regular;
		font-size:1em;
		color: $scorpion;
		margin-left:15px;
		li{
			list-style:disc;
			list-style-position: inside;
		}
	}

	dl{
		dt{

		}
		dd{

		}
	}

	/**
	 * Links
	 * Such as:
	 * Anchors
	 * Buttons
	 * Ect.
	 */
	a{
		@extend .fonts.trade.condensed.regular;
		font-size:1em;
		color:$apple;
		text-transform: uppercase;
		text-decoration: none;

		&:visited{
			color:$apple;
		}

		&:hover{
			color: $thatch-green;
		}

		
	}

	p{
		a{
			@extend .fonts.trade.condensed.regular;
			font-size:1em;
			color:$apple;
			text-transform: uppercase;
			text-decoration: none;

			&:visited{
				color:$apple;
			}

			&:hover{
				color: $thatch-green;
			}


		}
	}

	.button{
		.orange{

		}

		.green{

		}

		.gray{

		}
	}

	/**
	 * Emphasis
	 */
	em{

	}

	/**
	 * Bolds & Strongs
	 */
	b, strong{
		@extend .fonts.trade.condensed.bold;
		font-size: 1em ;
		color: $scorpion;
	}

	/**
	 * Small
	 */
	small{

	}

	/**
	 * Cite
	 */
	cite{

	}

	/**
	 * Quote
	 */
	q{

	}

	/**
	 * Italic
	 */
	i{
		@extend .fonts.trade.condensed.regular;
		color: $scorpion;
		font-style:italic;
	}

	/**
	 * Underline
	 */
	u{

	}

	/**
	 * Highlighting
	 */
	mark{

	}

	/**
	 * Edits
	 */
	ins{

	}
	del{

	}

	/**
	 * Image
	 */
	img{

	}

	/**
	 * Tables
	 */
	
	table{
		caption{

		}
		colgroup{

		}
		col{

		}
		tbody{

		}
		thead{

		}
		tfoot{

		}
		tr{
			td{

			}
		}
		th{

		}
	}

	form{
		fieldset{

		}
		legend{

		}
		label{

		}
		input{
			height:35px;
			width:100%;
			//margin:15px;
			border:none;

			&:active{
				//background-color:
			}

			&:focus{
				outline:0;
			}
		}

		input[type='text']{
			background-color:white;
			height:35px;
			width:100%;
			border:none;

			&:focus{
				outline:0;
			}
		}

		button{

		}
		select{

		}
		datalist{

		}
		optgroup{

		}
		option{

		}
		textarea{

		}
		keygen{

		}
		output{

		}
		progress{

		}
		meter{
			background-color:#cccccc;
		}
	}

	/**
	 * Spacer Styles
	 * Such as:
	 * Horizontal Rules
	 */
	hr{
	}
	


}

.alignright{
	float:right;
}

.alignleft{
	float:left;
}

/**
 * Add styling for icons etc. below.
 */

 .logo{
 	width: 204px;
	height: 71px;
	background: sprite($assets-sprite, cmef-logo) no-repeat;
 	&.smaller{
		width: 138px;
		height: 48px;
		background: sprite($assets-sprite, cmef-logo-smaller) no-repeat;
 	}
 }

 .mail{
 	width: 31px;
	height: 31px;
	background: sprite($assets-sprite, mail-icon) no-repeat;
 }

 .twitter{
 	width:31px;
 	height:31px;
 	background: sprite($assets-sprite, twitter-icon) no-repeat;
 }

 .facebook{
 	width:31px;
 	height:31px;
 	background: sprite($assets-sprite, facebook-icon) no-repeat;
 }

 .google{
 	width:31px;
 	height:31px;
 	background: sprite($assets-sprite, google-icon) no-repeat;
 }