@import 'colors';


html{
	//This is where we put the floats
	
	body{
		background: image-url("background.png");
		font-size:17px;
		//@extend .fonts.trade.condensed.regular;
		@extend .fonts.trade.condensed.regular;
		line-height: normal;
	}
	/**
	* Header Styles
	*/
	h1{
		@extend .fonts.trade.gothic.light;
		font-size:2.882352941em;
		color: $eastern-blue;
	}
	h2{
		@extend .fonts.trade.gothic.light;
		font-size:1.870588235em;
		color: $eastern-blue;
		line-height:1.1em;
	}
	h3{
		@extend .fonts.trade.gothic.light;
		font-size:1.125em;
		color: $eastern-blue;
		line-height:1.1em;
		margin-bottom:0;
	}
	h4{
		@extend .fonts.trade.condensed.bold;
		font-size:1em;
		color: $scorpion;
		word-spacing: -3px;
	}
	h5{
	@extend .fonts.trade.condensed.bold;
		font-size:.85em;
		color: $scorpion;
		word-spacing: -3px;
	}
	h6{
		@extend .fonts.trade.condensed.bold;
		font-size:.7em;
		color: $scorpion;
		word-spacing: -3px;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top:0;
		margin-bottom:5px;
	}

	/**
	 * Paragraph Styles
	 */
	p{
		@extend .fonts.trade.condensed.regular;
		font-size:1em;
		color:$scorpion !important; 
		margin:7px 0 7px 0;

		*{
			color:$scorpion !important; 
		}

		a{
			@extend .fonts.trade.condensed.regular;
			font-size:1em;
			color:$apple !important;
			text-transform: uppercase;
			text-decoration: none;

			&:visited{
				color:$apple !important;
			}

			&:hover{
				color: $thatch-green !important;
			}


		}
	}

	/**
	 * Preformatted
	 */
	pre{

	}

	/**
	 * Blockquote
	 */
	blockquote{

	}
	
	/**
	 * Lists
	 */
	ol{
		@extend .fonts.trade.condensed.regular;
		font-size:1em;
		color: $scorpion;
		li{
			//list-style-position: inside;
		}
	}
	
	ul{
		@extend .fonts.trade.condensed.regular;
		font-size:1em;
		color: $scorpion;
		margin-left:15px;
		li{
			list-style:disc;
			list-style-position: inside;
		}
	}

	dl{
		dt{

		}
		dd{

		}
	}

	/**
	 * Links
	 * Such as:
	 * Anchors
	 * Buttons
	 * Ect.
	 */
	a{
		@extend .fonts.trade.condensed.regular;
		font-size:1em;
		color:$apple;
		text-transform: uppercase;
		text-decoration: none;
		@include transition-property(all);
		@include transition-duration(.1s);

		&:visited{
			color:$apple;
		}

		&:hover{
			color: $thatch-green;
		}

		
	}

	p{
		a{
			@extend .fonts.trade.condensed.regular;
			font-size:1em;
			color:$apple;
			text-transform: uppercase;
			text-decoration: none;

			&:visited{
				color:$apple;
			}

			&:hover{
				color: $thatch-green;
			}


		}	
	}

	.button{
		.orange{

		}

		.green{

		}

		.gray{

		}
	}

	/**
	 * Emphasis
	 */
	em{

	}

	/**
	 * Bolds & Strongs
	 */
	b, strong{
		@extend .fonts.trade.condensed.bold;
		font-size: 1em ;
		color: $scorpion;
		word-spacing: -5px;
	}

	/**
	 * Small
	 */
	small{

	}

	/**
	 * Cite
	 */
	cite{

	}

	/**
	 * Quote
	 */
	q{

	}

	/**
	 * Italic
	 */
	i{
		@extend .fonts.trade.condensed.regular;
		color: $scorpion;
		font-style:italic;
	}

	/**
	 * Underline
	 */
	u{

	}

	/**
	 * Highlighting
	 */
	mark{

	}

	/**
	 * Edits
	 */
	ins{

	}
	del{

	}

	/**
	 * Image
	 */
	img{

	}

	/**
	 * Tables
	 */
	
	table{
		caption{

		}
		colgroup{

		}
		col{

		}
		tbody{

		}
		thead{

		}
		tfoot{

		}
		tr{
			td{

			}
		}
		th{

		}
	}

	form{
		//height:auto !important;
		overflow: auto;
		fieldset{

		}
		legend{

		}
		label{

		}
		input{
			height:35px;
			width:100%;
			//margin:15px;
			border:none;
			background-color:#fcfcfc;
			
			padding:5px;
			margin-bottom:10px;

			&:active{
				//background-color:
			}

			&:focus{
				outline:0;
			}
		}

		input[type='text'], input[type='password'], input[type='number']{
			height:35px;
			width:100%;
			border:none;
			@include box-shadow($mercury 0 1px 3px inset);
			&:focus{
				outline:0;
			}
		}
		input[type='radio'], input[type='checkbox']{
			width:auto !important;
			height:auto;
			display:inline;
			margin-right:5px;
		}

		button{

		}
		select{
			margin-left:1px;
			margin-right:5px;
		}
		datalist{

		}
		optgroup{

		}
		option{

		}
		textarea{

		}
		keygen{

		}
		output{

		}
		progress{

		}
	}
	.meter{
			width:100%;
			background-color:#cccccc;
			height:10px;
			@include border-radius(5px);
			overflow:hidden;
			margin:10px 0 7px 0;

			.meter-progress{
				background-color:$apple;
				height:100%;

			}
		}

	/**
	 * Spacer Styles
	 * Such as:
	 * Horizontal Rules
	 */
	hr{
		background:#cccccc;
		border:0;
		height:1px;
	}

	.border-right{
		border-right:1px solid #cccccc;
	}

	.border-left{
		border-left:1px solid #cccccc;
	}
	


}

.no-margin{
	margin:0 !important; 
}

.no-padding{
	padding:0 !important;
}

.alignright{
	float:right;
}

.alignleft{
	float:left;
}

/**
 * Add styling for icons etc. below.
 */

 .logo{
 	width: 204px;
	height: 71px;
	background: sprite($assets-sprite, cmef-logo) no-repeat;
 	&.smaller{
		width: 138px;
		height: 48px;
		background: sprite($assets-sprite, cmef-logo-smaller) no-repeat;
 	}
 }

 .mail{
 	width: 31px;
	height: 31px;
	background: sprite($assets-sprite, mail-icon) no-repeat;
 }

 .twitter{
 	width:31px;
 	height:31px;
 	background: sprite($assets-sprite, twitter-icon) no-repeat;
 }

 .facebook{
 	width:31px;
 	height:31px;
 	background: sprite($assets-sprite, facebook-icon) no-repeat;
 }

 .google{
 	width:31px;
 	height:31px;
 	background: sprite($assets-sprite, google-icon) no-repeat;
 }

 .linkedin{
 	width:31px;
 	height:31px;
 	background: sprite($assets-sprite, linkedin-icon) no-repeat;
 }


/**
* Styling for the buttons
* Buttons go anchor then span (usually)
*/

.box-shadow{
	@include box-shadow(lighten($scorpion, 35%) 0 0 3px 1px);
}

 .button, input[type='submit']{
 	display:table;
 	height:30px;
 	text-align: center;
 	margin:10px 0 10px 0;
 	@extend .fonts.trade.gothic.bold;
 	padding:3px 17px 0 17px; 
 	text-transform: uppercase;
 	width:auto;
 	@include transition-property(all);
	@include transition-duration(.5s);

	&.disabled{
		pointer-events: none ;
	}
	
 	&.orange{
		background-color:$tango;
		color:white;
		*{
			//padding:3px 5px 0 5px; 
			display:table-cell;
			vertical-align: middle;
		}

		&:hover, &.disabled{
			background-color:$fiery-orange;
		}
 	}

 	&.gray{
 		background-color:#b3b3b3;
		color:white;
		*{
			display:table-cell;
			vertical-align: middle;
		}

		&:hover, &.disabled{
			background-color:$alto;
		}
 	}

 	&.green, input[type='submit']{
 		background-color:$apple;
		color:white;
		*{
			display:table-cell;
			vertical-align: middle;
		}

		&:hover, &.disabled{
			background-color:$thatch-green;
		}
 	}

 	&.button-margin{
 		margin-right:5px;
 	}
 }

 .social{
	ul{
		overflow:auto;
		margin:0;
		padding:0;
		li{
			list-style:none;
			float:left;
			margin-right:5px;
			@include transition-property(all);
			@include transition-duration(.5s);

			a{
				display:block;
				height:100%;
				width:100%;
			}

			&:hover{
				@include opacity(.8);
			}
			&:last-child{
				margin-right:0;
			}
		}
	}
}

.caps{
	text-transform: uppercase;
	font-size:.9em;
}

.button{
	cursor:pointer;

	&.save{
		display:none;
	}

	&.edit{

	}

	&.edit, &.save{
		//cursor
	}
}

section{
	margin-bottom:15px;
	overflow:auto;
}

.alert-messages{
	color:red !important;
	.error{
		color:white !important;
		background-color: $fiery-orange;
		height:50px;
		display:block;
		@include border-radius(3px);
		padding:13px;
		line-height: 24px;
		@extend .fonts.trade.condensed.bold;
		word-spacing: -5px;
		margin-bottom:20px;

		&:before{
			content: '';
			height:24px;
			width:24px;
			background: sprite($assets-sprite, info-icon) no-repeat;
			display:block;
			float:left;
			margin-right:5px;
		}
	}
}