.full-width.header{
	background: rgba(0, 105, 163, 0.8);
	//@include opacity(.8);
	position:relative;

	&.top{
		header{
			height:122px;
			// margin: 0 20px 0 20px;
			
			#top-header{
				padding-top:25px;
				//overflow:auto;
				position:relative;

				#logo{
					width: 204px;
					height: 71px;
					background: sprite($assets-sprite, cmef-logo) no-repeat;
					margin:0;
					float:left;
					display:inline-block;

					a{
						height:100%;
						width:100%;
						display:inline-block;
					}
				}
			}

			.logged-in{
				color:white;
				//height:20px;
				font-size:1.058823529em;
				//margin-top:51px;

				.author-name, #logout{
					text-transform: uppercase;

					a{
						color:white;

						&:hover{
							color:$mercury;
						}
					}
				}
			}

			.donate-to-cmef{
				color:white;
				font-size:1.058823529em;
				padding-top:14px;
				a{
					color:white;
				}
			}

		}
	}
	
	&.bottom{
		height:64px;
		@include background-image(linear-gradient(rgb(220, 220, 220), rgb(204, 204, 204)));
		//margin-bottom:25px;

		.container{
			height:100%;
		}

		#bottom-header{
			height:100%;

			.bottom-header-left{
				height:100%;

				#searchform{
					//height:px;
					display:inline-block;
					padding-top:5px;
					width:277px;
					input{
						@extend .fonts.trade.gothic.bold;
						color:$scorpion;
						font-size: .875em;
						height:25px;
						background: sprite($assets-sprite, search-icon) no-repeat;
						background-color:#fcfcfd;
						padding:0;
						padding-left: 30px;
						margin-top:15px;

						&.longer{

						}
					}
				}

				.sign-up{
					@extend .fonts.trade.gothic.bold;
					@include user-select(none);
					color:$scorpion;
					text-transform: uppercase;
					margin-left:20px;
					height:100%;
					cursor:pointer;
					padding:18.5px;
					padding-top:23px;
					display:inline-block;
					vertical-align: middle;
					@include transition-property(all);
  					@include transition-duration(.1s);

					&:hover{
						background-color:$mercury;
					}
				}
				.login-box{
					width:340px;
					height:175px;
					background-color:$mercury;
					position:absolute;
					bottom:-175px;
					right:0;
					z-index:1000;
					display:none;

					#loginform{
						width:100%;
						padding:15px;

						input[name='log'], input[name='pwd']{
							margin-bottom:15px;
							padding-left:5px;
							height:35px;
							@extend .fonts.trade.gothic.bold;
							color: $scorpion;
						}

						input[name='pwd']{
							width:205px;
							float:left;
							//margin-right:15px;
						}
						input[name='wp-submit']{
							float:right;
							width:90px;
							height:35px;
							padding:0;
							background-color:$apple;
							color:white;
							text-transform: uppercase;
							font-size:.941176471em;
						}

						input[type='checkbox']{
							width:20px;
							height:15px;
							margin-top:3px;
						}
						.remember-forgot, a{
							//margin-top:10px;
							@extend .fonts.trade.gothic.bold;
							font-size:.882352941em;
							text-transform: none;

							a{
								color: $eastern-blue;
							}
						}
					}
					.register{
						//height:1
						width:100%;
						height:40px;
						background-color:$apple;
						text-align: center;
						display:table;

						span{
							display: table-cell;
  							vertical-align: middle;
  							@extend .fonts.trade.gothic.bold;
  							color:white;
  							font-size: .941176471em;
  							a{
  								color:inherit;
  								text-transform: inherit;
  								font-family:inherit;
  								font-size:inherit;
  								text-decoration: underline;
  							}
						}
					}
				}
			}

			.menu-main-navigation-header-container, .menu-menu-logged-in-container{
				height:100%;
				width:40%;
				display:none;
				ul{
					margin:0;
					height:100%;
					padding:0;
					li{
						list-style:none;
						float:left;
						height:100%;
						border-right:1px solid #afaeae;
						margin-bottom:0;
						@include transition-property(all);
  						@include transition-duration(.1s);

						a{
							height:100%;
							//width:100%;
							margin:0;
							display:block;
							padding:14px;
							@extend .fonts.trade.gothic.bold.oblique;
							font-size:16px;
							color:$scorpion;
							text-transform: none;

							.menu-first-word{
								font-style:normal;
								text-transform:uppercase;
							}
						}

						&:first-child{
							border-left:1px solid #afaeae;
						}

						&:hover, &.current-menu-item{
							background-color:$mercury;
						}
					}
				}
			}
		}
	}
}

	