h1.homepage{
	background-color:white;
	display:block;
	height: 85px;
	line-height:86px;
	text-align: center;
}

.bottom-buttons{
	margin:0 auto;
	display:block;
	overflow:auto;
	display:table;
	a, div.button{
		float:left;
		margin-right:5px;
		cursor:pointer;
		span{

		}
	}	
}