h1.homepage{
	background-color:white;
	display:block;
	min-height: 85px;
	height:auto;
	line-height:86px;
	text-align: center;
	margin-bottom: 25px;
	margin-top: 25px;
}

.bottom-buttons{
	margin:0 auto;
	display:block;
	overflow:auto;
	display:table;
	a, div.button{
		float:left;
		margin-right:5px;
		cursor:pointer;
		span{

		}
	}	
}