.white-background{
	background-color:white;
	height:100%;
	min-height:100%;
	width:100%;
	//width:100%;
	//margin:10px auto;
	
	&.page{
		margin-top:25px;
		margin-bottom:25px;
		//padding-top:25px;
		//padding-bottom:25px;
		overflow:auto;
		padding:25px;
		h2.title{
			margin:0;
		}
		.content{
			&.border-right{
				padding-right:50px;
			}

			p{
				margin-top:0;
				margin-bottom:14px;
			}
		}

		.sidebar{
			margin-left:0;
			ul{
				padding-left:0;
				margin:0;
				li{
					list-style:none;
					@extend .fonts.trade.condensed.bold;
					color: $chathams-blue;
					text-transform: uppercase;
					font-size:1em;
				}
			}
		}
	}
}

.breadcrumbs{
	margin-bottom:25px;
	text-transform:uppercase;
	margin-bottom:64px;
}