.single-program{
	h2.title{
		font-size:1.6em;
	}


	.program-image{
		.thumbnail img{
			min-width: 100%;
			max-width:100%;
			height:auto;
		}

		.thumbnails, .gallery .one img{
			width:100%;
			height:auto;
		}
	}

	.meter{
		margin-top:5px;
		//margin-left:20px / 960px * 100%;
	}

	.quick-stats{
		table{
			width:100%;
			tr{
				td{
					&:first-child{
						width:43.5%;
					}
				}
			}
		}
	}

	.fundraising-activity{
		table{
			width:100%; 
		}
	}
}

.gallery img{
	width:100%;
	height:auto;
}

.cycle-slideshow img{
	display:none;
}

#adv-custom-pager{
	margin-top:10px;
	//display:none;
	#pager-image{
		width: 22%;
		display: block;
		float: left;
		margin-right: 13px;
		height:67px;

		&:nth-child(4n){
			margin-right:0;
		}
	}
}